<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>
<!-- row -->
<div class="container-fluid">
    <!-- End Row -->
    <div class="row">
        <div class="col-12">
            <h4 class="content-head">All Events</h4>
            <!-- <p class="text-muted">This is 3 column contents</p> -->
            <div class="row">
                 <div class="col-lg-4 col-md-6" *ngFor="let event of events">
                    <div class="card">
                        <img class="blog-img" src="{{event?.image}}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{event?.name}}</h5>
                                <h6>
                                    Event Description :
                                </h6>
                                <p class="card-text">
                                  {{event?.desc}}
                            </p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text d-inline">
                                <small class="text-muted">{{event?.date_of_event | date:'MMMM y, d'}}</small>
                            </p>
                            <a href="{{ event?.link }}" class="card-link float-right"><small>View</small></a>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
              </div>
        </div>
    </div>

</div>
