<div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->
    <div class="container-fluid">
        <!-- End Row -->
        <div class="row">
            <div class="col-12">
                <h4 class="content-head">Landing Blogs</h4>
                <!-- <p class="text-muted">This is 3 column contents</p> -->
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let blog of landingblogs">
                       <div class="card">
                           <img class="blog-img" [src]=blog.image alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{blog.title}}</h5>
                                <p class="card-text">{{blog.category}}</p>
                                <!-- <p class="status-btn" [ngStyle]="{
                                  'background-color':blog.status === 'approved' ? '#8eff96' : '#ff988e' ,'color':blog.status === 'approved' ? '#015a01' : '#bd0303' }
                                ">{{blog.status}}</p> -->
                                <p class="card-text d-inline"><small class="text-muted">{{blog.date_added | date:'MMMM d, y'}}</small>
                                </p>
                            </div>
                            <div class="card-footer">

                                <a [routerLink]="['/blog/adminblog/',blog._id]" class="card-link float-right">View</a>
                                <a [routerLink]="['/blog/createblog/',blog._id]" class="card-link float-left">Reset Blog</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
            </div>
        </div>

    </div>
    <!-- #/ container -->
