<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>

    <!-- End Row -->
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="content-head">Pending CROs</h4>
<div class="row">
<div class="col-lg-12">
<div class="card">
    <div class="card-body">
        <div class="active-member">
            <div class="table-responsive">
                <table class="table table-xs mb-0">
                    <thead>
                        <tr>
                            <th>CRO Name</th>
                            <th>Date Added</th>
                       
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="https://images.pexels.com/photos/2741361/pexels-photo-2741361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class=" rounded-circle mr-3" alt="">Mayor</td>
                            <td>
                                <span>12,March 2020</span>
                            </td>
                            <!-- <td>
                                <span>{{author.interest_category}}</span>
                                </td> -->
                            <td>
                              <!-- <p *ngIf="!author.rejected" class="status-btn" [ngStyle]="{
                                'background-color':author.status === 'approved' ? '#8eff96' : '#FFFF33' ,'color':author.status === 'approved' ? '#015a01' : '#333300' }
                              ">{{author.status}}</p> -->
                              <p  class="status-btn" style="background-color: #ff988e ;color: #bd0303'">pending</p>
                            </td>

                            <td>
                                <div class="action-buttons">
                                    <button type="button" name="button" class="btn view"  [routerLink]="['/cro/pendingcrodetails']">
                                    <i class="fa fa-eye"></i>
                                    View
                                    </button>
                                    <button  type="button" name="button" class="btn approved" >
                                    <i class="fa fa-check-circle"></i>
                                    Approve
                                    </button>
                                    <button  type="button" name="button" class="btn decline">
                                    <i class="fa fa-times-circle"></i>
                                    Decline
                                    </button>
                                  </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div></div>
</div>
