<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>

    <!-- End Row -->
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="content-head">Instructor Details </h4>
<div class="row">
<div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <div class="media align-items-center mb-4">
                          <img class="mr-3" src="assets/images/user/1.png" width="80" height="80" alt="">
                          <div class="media-body">
                              <h3 class="mb-0"
                              style="letter-spacing: -0.6px;
                                     font-weight: 600;">Name</h3>
                              <p class="text-muted mb-0">From Miami</p>
                          </div>
                      </div>

                      <div class="row mb-5">
                          <!-- <div class="col">
                              <div class="card card-profile text-center">
                                  <span class="mb-1 text-primary"><i class="icon-people"></i></span>
                                  <h3 class="mb-0">263</h3>
                                  <p class="text-muted px-4">Following</p>
                              </div>
                          </div> -->
                          <!-- <div class="col">
                              <div class="card card-profile text-center">
                                  <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                  <h3 class="mb-0">263</h3>
                                  <p class="text-muted">Followers</p>
                              </div>
                          </div> -->
                          <!-- <div class="col">
                              <div class="card card-profile text-center">
                                  <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                  <h3 class="mb-0">263</h3>
                                  <p class="text-muted">Followers</p>
                              </div>
                          </div> -->

                      </div>

                      <h6>About Instructor</h6>
                     
                      <ul class="card-profile__info">
                        <li><strong class="text-dark mr-4">Email</strong> <span>abc@gmail.com</span></li>
                        <li><strong class="text-dark mr-4">Phone</strong> <span>546546554</span></li>
                        <li><strong class="text-dark mr-4">Nationality</strong> <span>American</span></li>
                      
                        <li><strong class="text-dark mr-4">Profession</strong> <span>Analytics</span></li>
                        <li><strong class="text-dark mr-4">Linkedin link</strong> <span>linked in url</span></li>
                      </ul>

                  </div>

              </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="content-head">Instructor's Courses</h4>
<div class="row">
<div class="col-lg-12">
<div class="card">
    <div class="card-body">
        <div class="active-member">
            <div class="table-responsive">
                <table class="table table-xs mb-0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Link</th>
                            <th>Date Added</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Water Conservation</td>
                            <td>
                                <span>Water</span>
                            </td>
                            <td>
                                <span><a href="">Click here</a></span>
                                </td>
                            <td>
                              <span>24 January, 2020</span>
                            </td>

                            <td>
                              <div class="action-buttons">
                                <button type="button" name="button" class="btn approved">
                                <i class="fa fa-check-circle"></i>
                                Approve
                                </button>
                                <button type="button" name="button" class="btn decline">
                                <i class="fa fa-times-circle"></i>
                                Decline
                                </button>
                              </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div></div>
</div>
