<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>

    <!-- End Row -->
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="content-head">Pending Mayors</h4>
<div class="row">
<div class="col-lg-12">
<div class="card">
    <div class="card-body">
        <div class="active-member">
            <div class="table-responsive">
                <table class="table table-xs mb-0">
                    <thead>
                        <tr>
                            <th>Mayor Name</th>
                            <th>Date Added</th>

                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                          <tr *ngFor="let mayor of mayors">
                            <td><img src="{{mayor?.image}}" class=" rounded-circle mr-3" alt="">{{ mayor?.name }}</td>
                            <td>
                                <span>{{mayor?.date_added | date:'MMMM d, y'}}</span>
                            </td>
                            <!-- <td>
                                <span>{{author.interest_category}}</span>
                                </td> -->
                            <td>
                              <p  class="status-btn">{{mayor?.email}}</p>
                            </td>

                            <td>
                                <div class="action-buttons">
                                    <button type="button" name="button" class="btn view"  [routerLink]="['/mayor/pendingmayordetails',mayor?._id]">
                                    <i class="fa fa-eye"></i>
                                    View
                                    </button>
                                    <button  type="button" name="button" class="btn approved" >
                                    <i class="fa fa-check-circle"></i>
                                    Approve
                                    </button>
                                    <button  type="button" name="button" class="btn decline">
                                    <i class="fa fa-times-circle"></i>
                                    Decline
                                    </button>
                                  </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div></div>
</div>
