<div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>

            <!-- End Row -->
            <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="content-head">Author Details </h4>
<div class="row">
    <div class="col-lg-12">
                      <div class="card">
                          <div class="card-body">
                              <div class="media align-items-center mb-4">
                                  <img class="mr-3" src={{author?.image}} width="80" height="80" alt="">
                                  <div class="media-body">
                                      <h3 class="mb-0"
                                      style="letter-spacing: -0.6px;
                                             font-weight: 600;">{{author?.name}}</h3>
                                      <p class="text-muted mb-0">{{author?.location}}</p>
                                  </div>
                              </div>

                              <div class="row mb-5">
                                  <div class="col">
                                      <div class="card card-profile text-center">
                                          <span class="mb-1 text-primary"><i class="icon-people"></i></span>
                                          <h3 class="mb-0">263</h3>
                                          <p class="text-muted px-4">Following</p>
                                      </div>
                                  </div>
                                  <!-- <div class="col">
                                      <div class="card card-profile text-center">
                                          <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                          <h3 class="mb-0">263</h3>
                                          <p class="text-muted">Followers</p>
                                      </div>
                                  </div> -->
                                  <div class="col">
                                      <div class="card card-profile text-center">
                                          <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                          <h3 class="mb-0">263</h3>
                                          <p class="text-muted">Followers</p>
                                      </div>
                                  </div>

                              </div>

                              <h6>About Author</h6>
                              <p class="text-muted">{{author?.about_author}}</p>
                              <ul class="card-profile__info">
                                <li><strong class="text-dark mr-4">Email</strong> <span>{{author?.email}}</span></li>
                                <li><strong class="text-dark mr-4">Facebook link</strong> <span>{{author?.facebook_id}}</span></li>
                                <li><strong class="text-dark mr-4">Twitter link</strong> <span>{{author?.twitter_id}}</span></li>
                                <li><strong class="text-dark mr-4">Linkedin link</strong> <span>{{author?.linkedIn_id}}</span></li>
                                <li><strong class="text-dark mr-4">Instagrm link</strong> <span>{{author?.instagram_id}}</span></li>
                              </ul>

                          </div>

                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
