<div class="nk-sidebar">
  <div class="nk-nav-scroll">
      <ul class="metismenu" id="metismenu">
          <li class="nav-label">Dashboard</li>
          <li>
              <a routerLink="/">
                  <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
              </a>
          </li>

            <li class="nav-label">OneWater Blog</li>
          <li class="mega-menu mega-menu-sm">
              <a class="has-arrow" aria-expanded="false">
                  <i class="icon-globe-alt menu-icon"></i><span class="nav-text">OneWater Blog</span>
              </a>
              <ul>
                  <li><a routerLink="authorvideo">Author Video</a></li>
                    <li><a routerLink="blog/landingblogs">Landing Blogs</a></li>
                  <li><a routerLink="blog/approvedblogs">Approved Blogs</a></li>
                    <li><a routerLink="blog/pendingblogs">Pending Blogs</a></li>
                      <li><a routerLink="blog/allblogs">All Blogs</a></li>
                      <li><a routerLink="blog/approvedauthors">Approved Authors</a></li>
                        <li><a routerLink="blog/pendingauthors">Pending Authors</a></li>
                          <li><a routerLink="blog/allauthors">All Authors</a></li>
              </ul>
          </li>
          <li class="nav-label">Video</li>
          <li class="mega-menu mega-menu-sm">
              <a class="has-arrow" aria-expanded="false">
                  <i class="icon-globe-alt menu-icon"></i><span class="nav-text">One Video</span>
              </a>
              <ul>
                        <li><a routerLink="video/postvideo">Post Video</a></li>
                        <li><a routerLink="video/uploadedvideos">Uploaded Video</a></li>
              </ul>
          </li>
          <li class="nav-label">Jobs</li>
                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Jobs</span>
                    </a>
                    <ul>
                        <li><a routerLink="jobs/joblist">Job List</a></li>
                        <li><a routerLink="jobs/candidatelist">Candidate List </a></li>
                        <li><a routerLink="jobs/companylist">Company List </a></li>
                    </ul>
                </li>
                <li class="nav-label">Instructors</li>
                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Instructors</span>
                    </a>
                    <ul>
                        <li><a routerLink="instructors/list">Instructors List</a></li>
                        <li><a routerLink="instructors/courses">Courses List</a></li>
                    </ul>
                </li>
                <li class="nav-label">Users</li>
                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Users</span>
                    </a>
                    <ul>
                        <li><a routerLink="users/registered">Registered Users</a></li>
                          <li><a routerLink="users/pending">Pending Users</a></li>

                    </ul>
                </li>
                <li class="nav-label">Subscribers</li>

                        <li><a routerLink="subs">Subscribers</a></li>

      </ul>
  </div>
</div>













<!-- <li class="nav-label">Apps</li>
<li>
  <a class="has-arrow"  aria-expanded="false">
      <i class="icon-envelope menu-icon"></i> <span class="nav-text">Email</span>
  </a>
  <ul aria-expanded="false">
      <li><a href="./email-inbox.html">Inbox</a></li>
      <li><a href="./email-read.html">Read</a></li>
      <li><a href="./email-compose.html">Compose</a></li>
  </ul>
</li>
<li>
  <a class="has-arrow"  aria-expanded="false">
      <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Apps</span>
  </a>
  <ul aria-expanded="false">
      <li><a href="./app-profile.html">Profile</a></li>
      <li><a href="./app-calender.html">Calender</a></li>
  </ul>
</li>
<li>
  <a class="has-arrow" href="javascript:void()" aria-expanded="false">
      <i class="icon-graph menu-icon"></i> <span class="nav-text">Charts</span>
  </a>
  <ul aria-expanded="false">
      <li><a href="./chart-flot.html">Flot</a></li>
      <li><a href="./chart-morris.html">Morris</a></li>
      <li><a href="./chart-chartjs.html">Chartjs</a></li>
      <li><a href="./chart-chartist.html">Chartist</a></li>
      <li><a href="./chart-sparkline.html">Sparkline</a></li>
      <li><a href="./chart-peity.html">Peity</a></li>
  </ul>
</li>
<li class="nav-label">UI Components</li>
<li>
  <a class="has-arrow" href="javascript:void()" aria-expanded="false">
      <i class="icon-grid menu-icon"></i><span class="nav-text">UI Components</span>
  </a>
  <ul aria-expanded="false">
      <li><a href="./ui-accordion.html">Accordion</a></li>
      <li><a href="./ui-alert.html">Alert</a></li>
      <li><a href="./ui-badge.html">Badge</a></li>
      <li><a href="./ui-button.html">Button</a></li>
      <li><a href="./ui-button-group.html">Button Group</a></li>
      <li><a href="./ui-cards.html">Cards</a></li>
      <li><a href="./ui-carousel.html">Carousel</a></li>
      <li><a href="./ui-dropdown.html">Dropdown</a></li>
      <li><a href="./ui-list-group.html">List Group</a></li>
      <li><a href="./ui-media-object.html">Media Object</a></li>
      <li><a href="./ui-modal.html">Modal</a></li>
      <li><a href="./ui-pagination.html">Pagination</a></li>
      <li><a href="./ui-popover.html">Popover</a></li>
      <li><a href="./ui-progressbar.html">Progressbar</a></li>
      <li><a href="./ui-tab.html">Tab</a></li>
      <li><a href="./ui-typography.html">Typography</a></li>
      <li><a href="./uc-nestedable.html">Nestedable</a></li>
      <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
      <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
      <li><a href="./uc-toastr.html">Toastr</a></li>
  </ul>
</li>
<li>
  <a href="widgets.html" aria-expanded="false">
      <i class="icon-badge menu-icon"></i><span class="nav-text">Widget</span>
  </a>
</li>
<li class="nav-label">Forms</li>
<li>
  <a class="has-arrow" href="javascript:void()" aria-expanded="false">
      <i class="icon-note menu-icon"></i><span class="nav-text">Forms</span>
  </a>
  <ul aria-expanded="false">
      <li><a href="./form-basic.html">Basic Form</a></li>
      <li><a href="./form-validation.html">Form Validation</a></li>
      <li><a href="./form-step.html">Step Form</a></li>
      <li><a href="./form-editor.html">Editor</a></li>
      <li><a href="./form-picker.html">Picker</a></li>
  </ul>
</li>
<li class="nav-label">Table</li>
<li>
  <a class="has-arrow" aria-expanded="false">
      <i class="icon-menu menu-icon"></i><span class="nav-text">Table</span>
  </a>
  <ul aria-expanded="false">
      <li><a href="./table-basic.html" aria-expanded="false">Basic Table</a></li>
      <li><a href="./table-datatable.html" aria-expanded="false">Data Table</a></li>
  </ul>
</li> -->
