<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>
    <!-- End Row -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="content-head">Courses List</h4>
            </div>
            <div class="col-lg-8 d-flex align-items-center justify-content-end">
              <strong>Filters</strong>
               <button class="fil-btn" (click)="allcourses()">All</button>
               <button class="fil-btn" (click)="approvedcourses()">Approved</button>
               <button class="fil-btn" (click)="pendingcourses()">Pending</button>
            </div>
        </div>
<div class="row">
<div class="col-lg-12">
<div class="card">
    <div class="card-body">
        <div class="active-member">
            <div class="table-responsive">
                <table class="table table-xs mb-0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Link</th>
                            <th>Date Added</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of courses;">
                            <td>{{ course?.title }}</td>
                            <td>
                                <span>{{ course?.category }}</span>
                            </td>
                            <td>
                                <span><a href="{{ course?.content_link }}">Click here</a></span>
                                </td>
                            <td>
                              <span>{{ course?.date_added | date:'MMM d, y' }}</span>
                            </td>

                            <td>
                              <div class="action-buttons" *ngIf="course?.status == 'pending'">
                                <button (click)="approvedcourse(course._id)" type="button" name="button" class="btn approved">
                                <i class="fa fa-check-circle"></i>
                                Approve
                                </button>
                                <button type="button" name="button" class="btn decline">
                                <i class="fa fa-times-circle"></i>
                                Decline
                                </button>
                              </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
