<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-col-md-3"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-col-md-3 active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
  </div>

    <!-- End Row -->
  <div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="content-head">Video Details</h4>
    </div>
    </div>
    <div class="container">
    <div class="detail-section">
      <div class="detail">
    <div class="row">
      <div class="col-lg-2">
        <h6>Title</h6>
      </div>
      <div class="col-lg-10">
        <p>
          {{video?.title}}
        </p>
      </div>
    </div>
    </div>
    <div class="detail">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-4">
          <h6>Link</h6>
        </div>
        <div class="col-lg-8">
          <h6>
          <a href="#">{{video?.video_link}}</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="detail">
  <div class="row">
  <div class="col-lg-2">
    <h6>Content</h6>
  </div>
  <div  class="col-lg-10">
      {{video?.desc}}
      <br>
      <div class="action-buttons">
          <a [href]="video?.link" type="button" name="button" class="btn view" >
          <i class="fa fa-eye"></i>
          View
          </a>
        </div>
  </div>
  </div>
  </div>



  </div>
  </div>
  </div>
