.video-option{
  float: right;
  margin:0 10px;
  font-weight: 500;
}
.list-group-item{
  cursor: pointer;
}
small{
  font-weight: 600;
  color: #777;
}
h5{
  font-size: 1.1rem;
  font-weight:700;
  margin-bottom: 1rem;
}
p{
  font-size: 0.85rem;
  padding: 0.5rem;
}
