<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>

    <!-- End Row -->
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="content-head">All Mayors</h4>
<div class="row">
<div class="col-lg-12">
<div class="card">
    <div class="card-body">
        <div class="active-member">
            <div class="table-responsive">
                <table class="table table-xs mb-0">
                    <thead>
                        <tr>
                            <th>Mayor Name</th>
                            <th>Date Added</th>

                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <tr *ngFor="let mayor of mayors">
                            <td><img src="{{mayor?.image}}" class=" rounded-circle mr-3" alt="">{{ mayor?.name }}</td>
                            <td>
                                <span>{{mayor?.date_added | date:'MMMM d, y'}}</span>
                            </td>
                            <!-- <td>
                                <span>{{author.interest_category}}</span>
                                </td> -->
                            <td>
                              <p *ngIf="!mayor.rejected" class="status-btn" [ngStyle]="{
                                'background-color':mayor.status === 'approved' ? '#8eff96' : '#FFFF33' ,'color':mayor.status === 'approved' ? '#015a01' : '#333300' }
                              ">{{mayor.status}}</p>
                              <!-- <p  class="status-btn" style="background-color: #ff988e ;color: #bd0303'">{{mayor?.status}}</p> -->
                            </td>

                            <td>
                              <div class="action-buttons">
                                <button type="button" name="button" class="btn view"  [routerLink]="['/mayor/mayordetails/',mayor?._id]">
                                <i class="fa fa-eye"></i>
                                View
                                </button>
                              </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div></div>
</div>
